@media(max-width:1200px) {
    .top__slider-item::before {
        left: -50px;
    }
    .advantages__info-text {
        padding: 0 15px;
    }
    .catalog__item {
        width: calc((100%/3) - 100px);
    }
    .catalog__product-img {
        width: 100%;
    }
    .catalog__product-opacity__info {
        position: absolute;
        bottom: 45px;
    }
}

@media (max-width:1150px) {
    .menu__list-link {
        font-size: 24px;
    }
    .phone,
    .email {
        font-size: 22px;
    }
    .services__inner {
        justify-content: center;
        margin: 0 auto;
    }
    .services__item {
        width: calc(50% - 200px);
        max-width: 100%;
        margin-right: 100px;
        margin-bottom: 40px;
        &:nth-child(even) {
            margin-right: 0;
        }
    }
}

@media(max-width: 1080px) {
    .catalog__items {
        justify-content: center;
        // margin-left: 100px;
        padding-left: 100px;
        &::after {
            content: "";
            flex: auto;
        }
    }
    .catalog__item {
        margin: 0 auto;
        // width: 350px;
        width: calc(50% - 100px);
        max-width: 100%;
        margin-right: 100px;
        margin-bottom: 50px;
        // margin-left: 60px;
        &:nth-child(3n) {
            margin-right: 100px;
        }
        &:nth-last-child(even) {
            margin-right: 100px;
        }
        &:last-of-type {}
    }
}

@media(max-width: 1060px) {
    .advantages__item::before {
        top: 10px;
    }
}

@media(max-width: 1010px) {
    .menu {
        display: none;
    }
    .header__btn {
        display: block;
    }
    .rightside-menu {
        display: block;
    }
    .rightside-menu__links {
        display: none;
    }
    .top__slider-item::before {
        left: 0;
        width: 1050px;
    }
    .top__slider-title {
        font-size: 24px;
    }
    .top__slider-text {
        font-size: 20px;
    }
    .services__item {
        width: calc(50% - 100px);
        margin-right: 100px;
    }
}

@media(max-width: 905px) {
    .top__slider-item::before {
        width: 1000px;
    }
    .top__slider-title {
        font-size: 20px;
    }
    .top__slider-text {
        font-size: 16px;
    }
    .advantages__inner {
        flex-direction: column;
        text-align: center;
        margin: 0 auto;
    }
    .advantages__info {
        width: 100%;
    }
    .advantages__items {
        width: 100%;
    }
    .advantages__item {
        margin-bottom: 40px;
        padding-left: 0;
    }
    .advantages__item::before {
        top: 3px;
    }
    .services__item {
        width: calc(50% - 100px);
        margin-right: 100px;
    }
    .catalog__item {
        min-width: 600px;
        text-align: center;
    }
    .catalog__product-img {
        width: 100%;
        min-height: 200px;
    }
    .footer__inner {
        flex-wrap: wrap;
        padding-left: 50px;
    }
    .footer__item {
        width: 50%;
    }
    .footer__garant-info {
        text-align: center;
        padding-left: 28px;
    }
    .footer__social {
        margin-top: 20px;
    }
}

@media screen and (max-width: 800px) and (orientation: landscape),
screen and (max-height: 300px) {
    /**
         * Remove all paddings around the image on small screen
         */
    .mfp-img-mobile .mfp-image-holder {
        padding-left: 0;
        padding-right: 0;
    }
    .mfp-img-mobile img.mfp-img {
        padding: 0;
    }
    .mfp-img-mobile .mfp-figure:after {
        top: 0;
        bottom: 0;
    }
    .mfp-img-mobile .mfp-figure small {
        display: inline;
        margin-left: 5px;
    }
    .mfp-img-mobile .mfp-bottom-bar {
        background: rgba(0, 0, 0, 0.6);
        bottom: 0;
        margin: 0;
        top: auto;
        padding: 3px 5px;
        position: fixed;
        box-sizing: border-box;
    }
    .mfp-img-mobile .mfp-bottom-bar:empty {
        padding: 0;
    }
    .mfp-img-mobile .mfp-counter {
        right: 5px;
        top: 3px;
    }
    .mfp-img-mobile .mfp-close {
        top: 0;
        right: 0;
        width: 35px;
        height: 35px;
        line-height: 35px;
        background: rgba(0, 0, 0, 0.6);
        position: fixed;
        text-align: center;
        padding: 0;
    }
}

@media all and (max-width: 900px) {
    .mfp-arrow {
        -webkit-transform: scale(0.75);
        transform: scale(0.75);
    }
    .mfp-arrow-left {
        -webkit-transform-origin: 0;
        transform-origin: 0;
    }
    .mfp-arrow-right {
        -webkit-transform-origin: 100%;
        transform-origin: 100%;
    }
    .mfp-container {
        padding-left: 6px;
        padding-right: 6px;
    }
}

@media(max-width: 700px) {
    .services__info {
        font-size: 20px;
        padding: 0 10px;
    }
}

@media(max-width: 650px) {
    .catalog__item {
        min-width: 400px;
    }
    .header__logo-img {
        max-width: 140px;
        height: auto;
    }
    .top__slider {
        display: none;
    }
    .top__info {
        display: block;
    }
    .advantages__info-images {
        margin-bottom: 20px;
    }
    .advantages__items {
        padding-bottom: 0;
        padding-right: 5px;
    }
    .advantages__item--bus::before {
        top: 15px;
    }
}

@media(max-width: 624px) {
    .services__inner {
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .services__item {
        margin: 0 0 40px 0;
        width: 250px;
    }
}

@media(max-width: 580px) {
    .header__logo-img {
        width: 220px;
        height: 70px;
    }
    .header__links {
        display: none;
    }
    .rightside-menu {
        max-width: 100vh;
    }
    .rightside-menu__links {
        display: block;
        text-align: center;
        &-item {
            margin-bottom: 15px;
        }
    }
    .rightside-menu__item:last-of-type::after {
        width: 100%;
        height: 1px;
    }
    .services__inner {
        flex-direction: column;
        align-content: center;
    }
    .services__item {
        max-width: 100%;
    }
    .services__info {
        font-size: 20px;
    }
    .advantages__info-img {
        max-width: 400px;
    }
}

@media(max-width: 540px) {
    .catalog__item {
        min-width: 400px;
    }
    .catalog__product-img {
        width: 300px;
    }
    .footer__inner {
        align-content: center;
        margin: 0 auto;
        flex-direction: column;
        padding-left: 0;
    }
    .footer__item {
        margin-bottom: 20px;
        margin-left: -50px;
    }
    .footer__links {
        margin-left: -10px;
    }
    .footer__link-phone {
        white-space: nowrap;
    }
}

@media(max-width: 480px) {
    .advantages__info-img {
        max-width: 350px;
    }
    .advantages__item--time::before {
        top: 15px;
    }
}

@media(max-width: 460px) {
    .catalog__item {
        min-width: 350px;
    }
    .catalog__product-img {
        width: 250px;
    }
}

@media(max-width: 420px) {
    .catalog__item {
        min-width: 320px;
    }
    .advantages__info-text {
        font-size: 20px;
    }
    .advantages__info-img {
        max-width: 300px;
    }
    .advantages__item {
        font-size: 15px;
    }
    .advantages__item--contract::before {
        top: 15px;
    }
    .advantages__item--drivers::before {
        top: 15px;
    }
    .advantages__item--price::before {
        top: 15px;
    }
}

@media(max-width: 370px) {
    .catalog__item {
        min-width: 290px;
    }
    .advantages__info-text {
        font-size: 18px;
    }
    .advantages__info-img {
        max-width: 270px;
    }
}